<h3>How much would you like to bet?</h3>

<form action='/myaction' method='post'>
  <input type="text" data-provide="typeahead" name='username'>
  <input type='submit' class='btn'>
</form>

<h2>Then I take their bet from here and send them to the game.</h2>

<img src="/public/images/cards/clubs_10.jpg" class="img-polaroid">